<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 이름정의 -->
<mapper namespace="like">
<!-- 각 기능의 sql 구문정의 -->

<!-- parameterType="입력값" resultType="출력값" -->
<!-- 제품 출력 -->



	<insert id="create">
		insert into heart values(#{lNO}, #{rNO}, #{uID})
	</insert>

	<select id="read" resultType="likeVO">
		select * from like where rNO = #{rNO} and uID = #{uID}
	</select>
	
	<delete id="delete">
		delete from heart where rNO = #{rNO} and uID = #{uID}
	</delete>
	
	
	<update id="likeUpdate">
	update heart set lNO = lNO+1 where uID = #{uID}
	</update>

	<select id='getLike' resultType="int">
	select lNO from heart where uID = #{uID}
	</select>
	

</mapper>