<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pay">
	<insert id="insert" parameterType="payVO">
		insert into pay values(null, #{pTotalPrice}, (select max(iCode) from cart where uID = #{uID}), #{uID}, now())
	</insert>
	
	<select id="select" parameterType="String" resultType="userVO">
		select uEmail, uName, uTel, uAddress from user where uID = #{uID}
	</select>
</mapper>